{% set lvs = [] %}
{% set lv = {'tier': 'all',         'lv': 'lv_usrsap',        'vg': 'vg_sap',         'size': '64g',       'opts': ''            } %}
{% set _ = lvs.append(lv) %}
{% for vg in volume_groups %}
{%   set lvname = vg.vg|replace('vg', 'lv', 1) %}
{%   if node_tier == 'HANA' and vg.vg == 'vg_hana_log' %}
{%     if vg.diskcount > 1 %}
{%       set lv = {'tier': node_tier,        'lv': lvname,      'vg': vg.vg,    'size': '100%FREE',  'opts': '-i ' ~ vg.diskcount ~ ' -I 64' } %}
{%     else %}
{%       set lv = {'tier': node_tier,        'lv': lvname,      'vg': vg.vg,    'size': '100%FREE',  'opts': '' } %}
{%     endif %}
{%   elif node_tier == 'HANA' and (vg.vg == 'vg_hana_data' or vg.vg == 'vg_hana_backup') %}
{%     if vg.diskcount > 1 %}
{%       set lv = {'tier': node_tier,        'lv': lvname,      'vg': vg.vg,    'size': '100%FREE',  'opts': '-i ' ~ vg.diskcount ~ ' -I 256' } %}
{%     else %}
{%       set lv = {'tier': node_tier,        'lv': lvname,      'vg': vg.vg,    'size': '100%FREE',  'opts': '' } %}
{%     endif %}
{%   elif node_tier == 'SCS' and vg.vg == 'vg_sap' %}
{%     set lv = {'tier': node_tier,       'lv': 'lv_sapmnt',      'vg': 'vg_sap',    'size': '128g','opts': '' } %}
{%     set _ = lvs.append(lv) %}
{%     set lv = {'tier': node_tier,       'lv': 'lv_usrsapinstall',     'vg': 'vg_sap',    'size': '100%FREE',  'opts': '' } %}
{%   elif node_tier == 'WEB' and vg.vg == 'vg_sap' %}
{%     set lv = {'tier': node_tier,       'lv': 'lv_sapmnt',      'vg': 'vg_sap',    'size': '1g',  'opts': '' } %}
{%   else %}
{%     if vg.diskcount > 1 %}
{%       set lv = {'tier': node_tier,     'lv': lvname,      'vg': vg.vg,    'size': '100%FREE',  'opts': '-i ' ~ vg.diskcount ~ ' -I 256' } %}
{%     else %}
{%       set lv = {'tier': node_tier,     'lv': lvname,      'vg': vg.vg,    'size': '100%FREE',  'opts': '' } %}
{%     endif %}
{%   endif %}
{%   set _ = lvs.append(lv) %}
{% endfor %}
{{ lvs }}