all:
  children:
      ${sid}:
  
        DB:
          hosts:
%{~ for idx,ips_dbnode in ips_dbnodes }
            ${dbnodes[idx].name}:
              ansible_host:  ${ips_dbnode}
              ansible_connection: "ssh"
%{~ endfor }
          vars:
            tier: ${platform}
            ansible_user:        "${dbnodes[0].authentication.username}"
%{~ if dbnodes[0].authentication.type == "password" }
            ansible_user:        "${dbnodes[0].authentication.username}"
            ansible_ssh_pass:    "${dbnodes[0].authentication.password}"
            ansible_become_pass: "${dbnodes[0].authentication.password}"
%{~ endif }

        SCS:
          hosts:
  %{~ for idx,ip_scs in ips_scs ~}
            ${scsservers[idx]}:
              ansible_connection: "ssh"
              ansible_host: ${ip_scs}
              ansible_user:       "${application.authentication.username}"
  %{~ if application.authentication.type == "password" }
              ansible_ssh_pass:    "${application.authentication.password}"
              ansible_become_pass: "${application.authentication.password}"
  %{~ endif }
  %{~ endfor ~}

        PAS:
          hosts:
  %{~ for idx,ip_pas in ips_pas ~}
            ${passervers[idx]}:
              ansible_connection: "ssh"
              ansible_host: ${ip_pas}
              ansible_user:       "${application.authentication.username}"
  %{~ if application.authentication.type == "password" }
              ansible_ssh_pass:    "${application.authentication.password}"
              ansible_become_pass: "${application.authentication.password}"
  %{~ endif }
  %{~ endfor ~}

        APP:
          hosts:
  %{~ for idx,ip_app in ips_app ~}
            ${appservers[idx]}:
              ansible_connection: "ssh"
              ansible_host: ${ip_app}
              ansible_user:       "${application.authentication.username}"
  %{~ if application.authentication.type == "password" }
              ansible_ssh_pass:    "${application.authentication.password}"
              ansible_become_pass: "${application.authentication.password}"
  %{~ endif }
  %{~ endfor ~}

        WEB:
          hosts:
  %{~ for idx,ip_web in ips_web ~}
            {$webservers[idx]}:
              ansible_connection: "ssh"
              ansible_host: ${ip_web}:
              ansible_user:       "${application.authentication.username}"
  %{~ if application.authentication.type == "password" }
              ansible_ssh_pass:    "${application.authentication.password}"
              ansible_become_pass: "${application.authentication.password}"
  %{~ endif }
  %{~ endfor }


